
/*MIYA CSS*/
#miyabody {
    background-color: #ebe6ff;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    line-height: 1.6;
    color: #3d0b23;
  }

  #nomemiya {
    color: #EA64A5;
    margin: 0;
  }

  #nomemiya {
    font-family: "Parisienne", cursive;
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  #miyah1 {
    color: #550d30;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
  }

  #miyah2 {
    color: #7C4585;
    margin-top: 30px;
  }

  #miyap {
    max-width: 700px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  #miyaul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }

  #miyaul {
    margin: 5px 0;
  }

#fotomiya1 {
        display: block;
        margin: 25px auto 32px;
        width: 600px;
        height: 600px;
        object-fit: cover;
        border-radius: 50%;
        transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease;
        will-change: tranform;
    }

#fotomiya2 {
      display: block;
      margin: 25px auto 32px;
      width: 600px;
      height: 600px;
      object-fit: cover;
      border-radius: 50%;
      transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease;
      will-change: tranform;
  }

    #li {
      margin: 5px 0;
      font-size: 16px;
    }
  
/*FILMES CSS*/
  #filmesbody {
    background-color: 
    #202020;
    font-family: "Linden Hill", serif;
    padding: 30px;
    line-height: 1.6;
    color: #a80000;
  }

  #titulofilme {
    color: #863636;
    font-family: "Nosifer", sans-serif;
    margin: 0;
    font-size: 60px;

  }

  #filmeh1 {
    color: #ada6a6;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 30px;
  }


  #filmep {
    max-width: 1000px;
    font-size: 40px;
    margin-bottom: 15px;
  }

  #filmeul {
    list-style: none;
    padding-left: 0;
    margin-top: 60px;
  }

  ul li {
    margin: 5px 0;
    font-size: 40px;
  }

  /*Torbi css*/
  #torbibody {
    background-color: #ffffff;
    font-family: "Metamorphous", serif;
    padding: 30px;
    font-size: 10px;
    line-height: 1.6;
    color: #da4c8e;
  }

  #titulotorbi {
    font-family: "Honk", system-ui;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  #roblox {
    display: block;
    margin: 0 auto;
  }
